.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 20px;
}
.logo img {
    width: 300px;
}

.search-bar {
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.search-bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.search-bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}
.search-bar img {
    margin-right: 15px;
    margin-left: 15px;
    width: 15px;
}

input {
    margin-left: 10px;
    border-style: hidden;
    height: 45px;
    width: 485px;
    font-size: medium;
}
input:focus {
    outline: none;
}

.buttons {
    margin-top:30px;
}
.button {
    background-color: #f5f5f5;
    border:none;
    color: black;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
}
.button:hover {
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:black;
}
.button:focus {
    border:1px solid #4885ed;
    padding: 9px 19px;
}

.language {
    margin-top: 20px;
    font-size: small;
}

.language a {
    text-decoration: none;
}