.footer {
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 9px;
    height: 48px;
    color:#0000008A;
    background-color: #f2f2f2;
    border-bottom: solid #dadce0 1px;
}
.footer a {
    margin-right: 20px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    color:#70757A;
}

.footer-left {
    margin-left: 21px;
    display: flex;
    align-items: center;
}

.footer-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.footer-wrapper {
    height: fit-content;
}